## Python Scrapper

In [1]:
#Import all required libraries
from selenium import webdriver
from bs4 import BeautifulSoup
import requests
from selenium.webdriver.common.keys import Keys
import pandas as pd
import numpy as np
import re
import itertools
import pandas as pd

#This will open up a new instance of your browser and redirect to link
chrome_path = './chromedriver'
driver = webdriver.Chrome(chrome_path)

In [5]:
#2017 Ford Escape features
driver.get("https://www.cars.com/vehicledetail/detail/748145958/overview/")
driver.implicitly_wait(8)
name1= driver.find_element_by_xpath('//*[@id="vdpOverview"]/h1').text
price1=driver.find_element_by_xpath('/html/body/div[1]/div[2]/section[2]/section[1]/div[2]/div[1]/span').text
safety1=driver.find_element_by_xpath('/html/body/div[1]/div[2]/section[2]/section[2]/div[7]/div[3]/ul').text
safety1=safety1.split('\n')[1:len(safety1)]
safety1='-'.join(safety1)
maintainance_cost1=driver.find_element_by_xpath('/html/body/div[1]/div[2]/section[2]/section[1]/div[2]/div[3]/div/a').text

#2017 Honda CRV features
driver.get("https://www.cars.com/vehicledetail/detail/762748358/overview/")
driver.implicitly_wait(8)
name2= driver.find_element_by_xpath('//*[@id="vdpOverview"]/h1').text
price2=driver.find_element_by_xpath('/html/body/div[1]/div[2]/section[2]/section[1]/div[2]/div[1]/span').text
safety2=driver.find_element_by_xpath('/html/body/div[1]/div[2]/section[2]/section[2]/div[7]/div[3]/ul').text
safety2=safety2.split('\n')[1:len(safety2)]
safety2='-'.join(safety2)
maintainance_cost2=driver.find_element_by_xpath('/html/body/div[1]/div[2]/section[2]/section[1]/div[2]/div[3]/div/a').text

#2017 Hyundai-Santa-Fe features
driver.get("https://www.cars.com/vehicledetail/detail/762264504/overview/")
driver.implicitly_wait(8)
name3= driver.find_element_by_xpath('//*[@id="vdpOverview"]/h1').text
price3=driver.find_element_by_xpath('/html/body/div[1]/div[2]/section[2]/section[1]/div[2]/div[1]/span').text
safety3=driver.find_element_by_xpath('/html/body/div[1]/div[2]/section[2]/section[2]/div[6]/div[3]/ul').text
safety3=safety3.split('\n')[1:len(safety3)]
safety3='-'.join(safety3)
maintainance_cost3=driver.find_element_by_xpath('/html/body/div[1]/div[2]/section[2]/section[1]/div[2]/div[3]/div/a').text

#2017 Toyota Rav 4 features
driver.get("https://www.cars.com/vehicledetail/detail/762844552/overview/")
driver.implicitly_wait(8)
name4= driver.find_element_by_xpath('//*[@id="vdpOverview"]/h1').text
price4=driver.find_element_by_xpath('/html/body/div[1]/div[2]/section[2]/section[1]/div[2]/div[1]/span').text
safety4=driver.find_element_by_xpath('/html/body/div[1]/div[2]/section[2]/section[2]/div[7]/div[2]').text
safety4=safety4.split('\n')[1:len(safety4)]
safety4='-'.join(safety4)
maintainance_cost4=driver.find_element_by_xpath('/html/body/div[1]/div[2]/section[2]/section[1]/div[2]/div[3]/div/a').text

Certified 2017 Ford Escape SE
$16,248
Brake Assist-Stability Control
$313 est/month

In [25]:
#create price, safety and maintainance variable as lists
name=[name1,name2,name3,name4]
price=[price1,price2,price3,price4]
safety=[safety1,safety2,safety3,safety4]
maintainance_cost=[maintainance_cost1,maintainance_cost2,maintainance_cost3,maintainance_cost4]

['Certified 2017 Ford Escape SE', 'Certified 2017 Honda CR-V EX', 'Used 2017 Hyundai Santa Fe SE', 'Certified 2017 Toyota RAV4 LE']
['$16,248', '$23,700', '$13,791', '$21,277']
['Brake Assist-Stability Control', 'Brake Assist-Stability Control', 'Brake Assist-Stability Control', 'Brake Assist-Stability Control']
['$313 est/month', '$456 est/month', '$265 est/month', '$410 est/month']

In [27]:
#Fuel_Economy variable
driver.get("https://www.kbb.com/ford/escape/2017/")
driver.implicitly_wait(8)
fuel_economy1=driver.find_element_by_xpath('//*[@id="ymmOverview"]/div[1]/div[2]/div[1]/div[1]/div/p[1]').text

driver.get("https://www.kbb.com/honda/cr-v/2017/")
driver.implicitly_wait(8)
fuel_economy2=driver.find_element_by_xpath('//*[@id="ymmOverview"]/div[1]/div[2]/div[1]/div[1]/div/p[1]').text

driver.get("https://www.kbb.com/hyundai/santa-fe/2017/")
driver.implicitly_wait(8)
fuel_economy3=driver.find_element_by_xpath('//*[@id="ymmOverview"]/div[1]/div[2]/div[1]/div[1]/div/p[1]').text

driver.get("https://www.kbb.com/toyota/rav4/2017/")
driver.implicitly_wait(8)
fuel_economy4=driver.find_element_by_xpath('//*[@id="ymmOverview"]/div[1]/div[2]/div[1]/div[1]/div/p[1]').text

fuel_economy=[fuel_economy1,fuel_economy2,fuel_economy3,fuel_economy4]
print(fuel_economy)

24 MPG Combined
27 MPG Combined
21 MPG Combined
25 MPG Combined
['24 MPG Combined', '27 MPG Combined', '21 MPG Combined', '25 MPG Combined']

In [32]:
#driver = webdriver.Chrome(chrome_path)
driver.get("https://www.kbb.com/ford/escape/2017/s-sport-utility-4d/?vehicleid=415975&intent=trade-in-sell&category=suv"+
           "&mileage=32989&pricetype=trade-in&condition=verygood&options=7127538|true&r=453843593730597400")
driver.implicitly_wait(8)



#zip_code=90001
#driver.find_element_by_xpath('//*[@id="selectedZipCode"]').send_keys(zip_code)
#driver.implicitly_wait(4)
#driver.find_element_by_xpath('//*[@id="enterzipsubmit"]').click()
#driver.implicitly_wait(8)
driver.find_element_by_xpath('//*[@id="tradeInContent"]/div[1]/div[2]/div/div[5]').click()
driver.implicitly_wait(8)
resale_value1=driver.find_element_by_xpath('/html/body/div[11]/div/div/div/div/div[2]/div[3]').text
print(resale_value1)

$11,208

In [37]:
#driver = webdriver.Chrome(chrome_path)
driver.get("https://www.kbb.com/honda/cr-v/2017/lx-sport-utility-4d/?vehicleid=422663&intent"+
           "=trade-in-sell&category=suv&mileage=31337&pricetype=trade-in&condition=verygood&options=7638297|true")
driver.implicitly_wait(8)
driver.find_element_by_xpath('//*[@id="pageContent"]/div[3]/div[3]/div/div/div[3]').click()
driver.implicitly_wait(8)
resale_value2=driver.find_element_by_xpath('/html/body/div[11]/div/div/div/div/div[2]/div[3]').text
print(resale_value2)

$17,579

In [41]:
driver = webdriver.Chrome(chrome_path)
driver.get("https://www.kbb.com/hyundai/santa-fe/2017/se-sport-utility-4d/?vehicleid=415732&intent=trade-in-sell&category"+
           "=suv&mileage=31218&pricetype=trade-in&condition=verygood&options=7093892|true")
driver.implicitly_wait(8)
driver.find_element_by_xpath('//*[@id="pageContent"]/div[3]/div[3]/div/div/div[3]').click()
driver.implicitly_wait(8)
resale_value3=driver.find_element_by_xpath('/html/body/div[11]/div/div/div/div/div[2]/div[3]').text
print(resale_value3)

$15,765

In [42]:
#driver = webdriver.Chrome(chrome_path)
driver.get("https://www.kbb.com/toyota/rav4/2017/le-sport-utility-4d/?vehicleid=421396&intent=trade-in-sell&category"+
           "=suv&mileage=30119&pricetype=trade-in&condition=verygood&options=7496507|true")
driver.implicitly_wait(10)
driver.find_element_by_xpath('//*[@id="pageContent"]/div[3]/div[3]/div/div/div[3]').click()
driver.implicitly_wait(8)
resale_value4=driver.find_element_by_xpath('/html/body/div[11]/div/div/div/div/div[2]/div[3]').text
print(resale_value4)

$15,456

In [43]:
resale_value=[resale_value1,resale_value2,resale_value3,resale_value4]
print(resale_value)

['$11,208', '$17,579', '$15,765', '$15,456']

In [70]:
#driver = webdriver.Chrome(chrome_path)
driver.get('https://www.insurance.com/auto-insurance.aspx')
driver.implicitly_wait(8)
driver.find_element_by_xpath('//*[@id="makes-select"]/option[12]').click()
driver.implicitly_wait(4)
driver.find_element_by_xpath('//*[@id="models-select"]/option[10]').click()
driver.implicitly_wait(4)
driver.find_element_by_xpath('//*[@id="states-select"]/option[2]').click()
driver.implicitly_wait(4)
driver.find_element_by_xpath('//*[@id="autotool-form"]/div/div[3]/div/div/input').click()
driver.implicitly_wait(4)
insurance1=driver.find_element_by_xpath('//*[@id="chart"]/div[3]/div[1]/span[4]').text
insurance1

'$1152PER YEAR'

In [73]:
driver.get('https://www.insurance.com/auto-insurance.aspx')
driver.implicitly_wait(8)
driver.find_element_by_xpath('//*[@id="makes-select"]/option[15]').click()
driver.implicitly_wait(4)
driver.find_element_by_xpath('//*[@id="models-select"]/option[31]').click()
driver.implicitly_wait(4)
driver.find_element_by_xpath('//*[@id="states-select"]/option[2]').click()
driver.implicitly_wait(4)
driver.find_element_by_xpath('//*[@id="autotool-form"]/div/div[3]/div/div/input').click()
driver.implicitly_wait(4)
insurance2=driver.find_element_by_xpath('//*[@id="chart"]/div[3]/div[1]/span[4]').text
insurance2

'$1349PER YEAR'

In [74]:
driver.get('https://www.insurance.com/auto-insurance.aspx')
driver.implicitly_wait(8)
driver.find_element_by_xpath('//*[@id="makes-select"]/option[16]').click()
driver.implicitly_wait(4)
driver.find_element_by_xpath('//*[@id="models-select"]/option[22]').click()
driver.implicitly_wait(4)
driver.find_element_by_xpath('//*[@id="states-select"]/option[2]').click()
driver.implicitly_wait(4)
driver.find_element_by_xpath('//*[@id="autotool-form"]/div/div[3]/div/div/input').click()
driver.implicitly_wait(4)
insurance3=driver.find_element_by_xpath('//*[@id="chart"]/div[3]/div[1]/span[4]').text
insurance3

'$1229PER YEAR'

In [77]:
driver.get('https://www.insurance.com/auto-insurance.aspx')
driver.implicitly_wait(8)
driver.find_element_by_xpath('//*[@id="makes-select"]/option[34]').click()
driver.implicitly_wait(4)
driver.find_element_by_xpath('//*[@id="models-select"]/option[51]').click()
driver.implicitly_wait(4)
driver.find_element_by_xpath('//*[@id="states-select"]/option[2]').click()
driver.implicitly_wait(4)
driver.find_element_by_xpath('//*[@id="autotool-form"]/div/div[3]/div/div/input').click()
driver.implicitly_wait(4)
insurance4=driver.find_element_by_xpath('//*[@id="chart"]/div[3]/div[1]/span[4]').text
insurance4

'$1221PER YEAR'

In [78]:
insurance=[insurance1,insurance2,insurance3,insurance4]
insurance

['$1152PER YEAR', '$1349PER YEAR', '$1229PER YEAR', '$1221PER YEAR']

In [83]:
#scenario 1
edf= pd.DataFrame(data={'name' : name, 'price' : price, 'safety' : safety, 'maintainance_cost' : maintainance_cost}
                  ,index=range(1,len(name)+1))
cars_1=edf[['name','price','maintainance_cost','safety']]
cars_1

,name,price,maintainance_cost,safety
1,Certified 2017 Ford Escape SE,"$16,248",$313 est/month,Brake Assist-Stability Control
2,Certified 2017 Honda CR-V EX,"$23,700",$456 est/month,Brake Assist-Stability Control
3,Used 2017 Hyundai Santa Fe SE,"$13,791",$265 est/month,Brake Assist-Stability Control
4,Certified 2017 Toyota RAV4 LE,"$21,277",$410 est/month,Brake Assist-Stability Control

In [84]:
#scenario 2
edf= pd.DataFrame(data={'name' : name, 'fuel_economy' : fuel_economy, 'resale_value' : resale_value, 'insurance':insurance},
                  index=range(1,len(name)+1))
cars_2=edf[['name','fuel_economy','resale_value','insurance']]
cars_2

                            name     fuel_economy resale_value      insurance
1  Certified 2017 Ford Escape SE  24 MPG Combined      $11,208  $1152PER YEAR
2   Certified 2017 Honda CR-V EX  27 MPG Combined      $17,579  $1349PER YEAR
3  Used 2017 Hyundai Santa Fe SE  21 MPG Combined      $15,765  $1229PER YEAR
4  Certified 2017 Toyota RAV4 LE  25 MPG Combined      $15,456  $1221PER YEAR

In [137]:
#define data dictionary and create data.frame
df = {'name' : name, 'price' : price, 'safety' : safety, 'maintainance_cost' : maintainance_cost, 
      'fuel_economy' : fuel_economy, 'resale_value' : resale_value, 'insurance':insurance}
edf= pd.DataFrame(data=df,index=range(1,len(name)+1))
carsDf=edf[['name','price','maintainance_cost','fuel_economy','resale_value','insurance','safety']]

carsDf.to_csv('cars_raw.csv')
carsDf

NameError: name 'name' is not defined

In [27]:
# Clean and present Scenario 1
import pandas as pd
cars=pd.read_csv('cars.csv')
cars_1=cars[['name','price','maintainance_cost','safety']]
#price weights = 10
price=[p.split("$")[1] for p in cars_1.price ]
price=[p.replace(",","") for p in price ]


mnt_cost=[m.split("$")[1] for m in cars_1.maintainance_cost ]
mnt_cost=[n.split(" ")[0] for n in mnt_cost]

safety=[o.split("-") for o in cars_1.safety ]

dict1={'car_name': cars_1.name,'price':price,'maintainance_cost':mnt_cost,'safety_features':safety}
cars_clean1=pd.DataFrame(dict1)
cars_clean1

,car_name,maintainance_cost,price,safety_features
0,Certified 2017 Ford Escape SE,313,16248,"[Brake Assist, Stability Control]"
1,Certified 2017 Honda CR-V EX,456,23700,"[Brake Assist, Stability Control]"
2,Used 2017 Hyundai Santa Fe SE,265,13791,"[Brake Assist, Stability Control]"
3,Certified 2017 Toyota RAV4 LE,410,21277,"[Brake Assist, Stability Control]"

In [28]:
cars_1=cars[['name','price','maintainance_cost','safety']]
cars_2=cars[['name','fuel_economy','resale_value','insurance']]
cars_1.to_csv('cars_raw1.csv')
cars_2.to_csv('cars_raw2.csv')

In [29]:
#create wieghted price
price_w=[int(p)*10/int(max(price)) for p in cars_clean1.price]
price_w=[round(p) for p in price_w]
#create weighted maintainance
maintainance_w=[int(m)*5/int(max(mnt_cost)) for m in cars_clean1.maintainance_cost]
maintainance_w=[round(m) for m in maintainance_w]
#create weighted safety_features
safety_w=[len(n)/3*7 for n in cars_clean1.safety_features]
safety_w=[round(n) for n in safety_w]

#create weighted dataset for scenario 1
dict_w={'car_name': cars_1.name,'price_w':price_w,'maintainance_cost_w':maintainance_w,'safety_features_w':safety_w}
weighted_cars1=pd.DataFrame(dict_w)
weighted_cars1=pd.merge(cars_clean1,weighted_cars1)
weighted_cars1.columns
weighted_cars1.to_csv('clean_cardata1.csv')
weighted_cars1

,car_name,maintainance_cost,price,safety_features,maintainance_cost_w,price_w,safety_features_w
0,Certified 2017 Ford Escape SE,313,16248,"[Brake Assist, Stability Control]",3,7,5
1,Certified 2017 Honda CR-V EX,456,23700,"[Brake Assist, Stability Control]",5,10,5
2,Used 2017 Hyundai Santa Fe SE,265,13791,"[Brake Assist, Stability Control]",3,6,5
3,Certified 2017 Toyota RAV4 LE,410,21277,"[Brake Assist, Stability Control]",4,9,5

In [30]:
#scenario 2
#price weights = 10
cars_2=cars[['name','fuel_economy','resale_value','insurance']]
resale_value=[s.split("$")[1] for s in cars_2.resale_value]
resale_value=[s.split(" ")[0] for s in resale_value]
resale_value=[s.replace(",","") for s in resale_value]

insurance=[r.split("PER")[0] for r in cars_2.insurance]
insurance=[r.replace("$","") for r in insurance]
fuel_economy=[o.split(" ")[0] for o in cars_2.fuel_economy]

dict2={'car_name':cars_2.name,'resale_value': resale_value,'insurance':insurance,'fuel_economy':fuel_economy}
cars_clean2=pd.DataFrame(dict2)
cars_clean2

                        car_name fuel_economy insurance resale_value
0  Certified 2017 Ford Escape SE           24      1152        11208
1   Certified 2017 Honda CR-V EX           27      1349        17579
2  Used 2017 Hyundai Santa Fe SE           21      1229        15765
3  Certified 2017 Toyota RAV4 LE           25      1221        15456

In [31]:
a=max(cars_clean2.fuel_economy)
b=max(cars_clean2.insurance)
c=max(cars_clean2.resale_value)
#create wieghted fuel_economy=10
fuel_w=[int(p)*10/int(a) for p in cars_clean2.fuel_economy]
fuel_w=[round(p) for p in fuel_w]
fuel_w
#create weighted insurance=8
insurance_w=[int(m)*8/int(b) for m in cars_clean2.insurance]
insurance_w=[round(m) for m in insurance_w]
#create weighted resale_value
resale_w=[int(n)*5/int(c) for n in cars_clean2.resale_value]
resale_w=[round(n) for n in resale_w]

#create weighted dataset for scenario 2
dict_w={'car_name': cars_2.name,'fuel_economy_w':fuel_w,'insurance_w':insurance_w,'resale_value_w':resale_w}
weighted_cars2=pd.DataFrame(dict_w)
weighted_cars2=pd.merge(cars_clean2,weighted_cars2)
weighted_cars2.to_csv('clean_cardata2.csv')
weighted_cars2

,car_name,fuel_economy,insurance,resale_value,fuel_economy_w,insurance_w,resale_value_w
0,Certified 2017 Ford Escape SE,24,1152,11208,9,7,3
1,Certified 2017 Honda CR-V EX,27,1349,17579,10,8,5
2,Used 2017 Hyundai Santa Fe SE,21,1229,15765,8,7,4
3,Certified 2017 Toyota RAV4 LE,25,1221,15456,9,7,4

In [32]:
#full detail
cars_weights=pd.merge(weighted_cars1, weighted_cars2)
cars_weights=cars_weights[['car_name','maintainance_cost','maintainance_cost_w','price','price_w','safety_features','safety_features_w',
               'fuel_economy','fuel_economy_w','insurance','insurance_w','resale_value','resale_value_w']]
cars_weights

,car_name,maintainance_cost,maintainance_cost_w,price,price_w,safety_features,safety_features_w,fuel_economy,fuel_economy_w,insurance,insurance_w,resale_value,resale_value_w
0,Certified 2017 Ford Escape SE,313,3,16248,7,"[Brake Assist, Stability Control]",5,24,9,1152,7,11208,3
1,Certified 2017 Honda CR-V EX,456,5,23700,10,"[Brake Assist, Stability Control]",5,27,10,1349,8,17579,5
2,Used 2017 Hyundai Santa Fe SE,265,3,13791,6,"[Brake Assist, Stability Control]",5,21,8,1229,7,15765,4
3,Certified 2017 Toyota RAV4 LE,410,4,21277,9,"[Brake Assist, Stability Control]",5,25,9,1221,7,15456,4

In [34]:
cars_weights.to_csv('car_fulldata.csv')

In [33]:
cars_weights.loc[:,'maintainance_cost_w'] *= 5
cars_weights.loc[:,'price_w'] *= 10
cars_weights.loc[:,'safety_features_w'] *= 7
cars_weights.loc[:,'fuel_economy_w'] *= 10
cars_weights.loc[:,'insurance_w'] *= 8
cars_weights.loc[:,'resale_value_w'] *= 5

#Total sum per column: 
#cars_weights.loc[:,'Total']= cars_weights.sum(axis=1)
cars_weights

,car_name,maintainance_cost,maintainance_cost_w,price,price_w,safety_features,safety_features_w,fuel_economy,fuel_economy_w,insurance,insurance_w,resale_value,resale_value_w
0,Certified 2017 Ford Escape SE,313,15,16248,70,"[Brake Assist, Stability Control]",35,24,90,1152,56,11208,15
1,Certified 2017 Honda CR-V EX,456,25,23700,100,"[Brake Assist, Stability Control]",35,27,100,1349,64,17579,25
2,Used 2017 Hyundai Santa Fe SE,265,15,13791,60,"[Brake Assist, Stability Control]",35,21,80,1229,56,15765,20
3,Certified 2017 Toyota RAV4 LE,410,20,21277,90,"[Brake Assist, Stability Control]",35,25,90,1221,56,15456,20